---
import BlogLayout from '@/layouts/BlogLayout.astro';
import Prose from '@/components/Prose.astro'
import Pre from '@/components/mdx-components/Pre.astro'
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post }
  }))
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
const githubUrl = import.meta.env.PUBLIC_GITHUB_URL;
---

<BlogLayout>
  <Prose transition:name={`post-${post.id}`}>
    <h1 transition:name={`post-title-${post.id}`}>{post.data.title}</h1>
    <Content
      githubUrl={githubUrl}
     components={{
      pre: Pre
    }}/>
  </Prose>
</BlogLayout>