---
// warning page
const { title = '建設中', description = 'UNDER CONSTRUCTION' } = Astro.props;
---

<div class="w-full h-full flex justify-center items-center bg-black/80">
  <div class="warning-box w-lg shadow-md text-red-500 flex flex-col items-center">
    <div class="text-center text-[150px] leading-[1] font-bold">{title}</div>
    <div class="text-center text-4xl leading-loose font-bold tracking-tighter mt-4 scale-y-200">
      {description}
    </div>
  </div>
</div>

<style>
  @keyframes slide-left {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -80px 0; /* 向左移动一个周期的距离 */
    }
  }
  .warning-box {
    font-family: var(--font-matisse-eb);
    position: relative;
    padding: 70px 0;
    &::before,
    &::after {
      animation: slide-left 2s linear infinite;
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 50px;
      /* 旋转120deg后实际宽度是20*sin(60deg) */
      background: repeating-linear-gradient(
        120deg,
        var(--color-amber-500) 0px,
        var(--color-amber-500) calc(20px * sin(60deg)),
        transparent calc(20px * sin(60deg)),
        transparent calc(40px * sin(60deg))
      );
      background-size: 40px 100%;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
</style>
