---
const { 'data-language': lang, class: className, ...props } = Astro.props;
function getLanguage(lang: string) {
  const lowerLang = lang.toLowerCase();
  switch (lowerLang) {
    case 'js':
    case 'javascript':
      lang = 'JavaScript';
      break;
    case 'ts':
    case 'typescript':
      lang = 'TypeScript';
      break;
    default:
      lang = lang.charAt(0).toUpperCase() + lang.slice(1);
  }
  return lang;
}
---

<div class="rounded-md overflow-hidden border border-gray-200">
  <div class="w-full px-4 py-1 flex justify-between items-center border-b border-gray-200">
    <span>{getLanguage(lang)}</span>
  </div>
  <pre {...props} class={className + ' my-0!'}><slot /></pre>
</div>