---
import { ClientRouter } from 'astro:transitions';
import { Font } from 'astro:assets';
import '@/styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/eva2.svg" />
    <Font cssVariable="--font-matisse-eb" preload />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>Asuka Nya~</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  document.addEventListener('visibilitychange', () => {
    if (document.hidden) {
      document.title = 'Anta Baka?';
    } else {
      document.title = 'Asuka Nya~';
    }
  });
</script>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
